= form_with(model: @artist, local: true) do |form|
  - if @artist.errors.any?
    #error_explanation
      %h2
        = pluralize(@artist.errors.count, "error")
        prohibited this @artist from being saved:
      %ul
        - @artist.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :name
    = form.text_field :name, {cla}
  .field
    = form.label :permalink
    = form.text_field :permalink
  .field
    = form.label :bio
    = form.text_area :bio
  .field
    = form.label :formed_at
    = form.date_field :formed_at

  .field
    = form.label :verified
    = form.radio_button :verified, :checked =>"false"

  .field
    = form.label :verified_at
    = form.date_field :verified_at

  .field
    = form.label :avatar_url
    = form.file_field :avatar_url

  .field
    = form.label :cover_photo_url
    = form.file_field :cover_photo_url

  .actions
    = form.submit