= render 'layouts/table-lib-files'
.card
  .card-body
    %h4.card-title Artists
    / %p.card-text Some example text some example text. Jane Doe is an architect and engineer
    = link_to 'New Artist', new_artist_path, class: 'btn bg-colored'
    .table-responsive.mt-3
      %table.table.table-bordered.table-hover.dt-responsive
        %thead
          %tr
            %th name
            %th permalink
            %th bio
            %th formed_at
            %th verified
            %th verified_at
            %th Action
        %tbody
          - @artists.each do |x|
            %tr
              %td= x.name
              %td
                = link_to "View permalink", x.permalink.to_s, class: 'dropdown-item btn-light', target: '_blank'
              %td= x.bio
              %td= x.formed_at.strftime("%b %d, %Y")
              %td= x.verified?
              %td= x.verified_at.strftime("%b %d, %Y") rescue nil
              %td

                = link_to ('<i class="far fa-eye"></i>').html_safe, x, class: 'badge bg-info'
                = link_to ('<i class="fas fa-pencil-alt"></i>').html_safe, edit_artist_path(x) , class: 'badge bg-warning'
                = link_to ('<i class="far fa-trash-alt"></i>').html_safe, x, method: :delete, data: {confirm: "Are you sure?"}, class: 'badge bg-danger'

:javascript
  $(document).ready(function() {
    var dataTable = $('table').DataTable();
    document.addEventListener("turbolinks:before-cache", function() {
      if (dataTable !== null) {
       dataTable.destroy();
       dataTable = null;
      }
    });
  } );