= render 'layouts/table-lib-files'
.card
  .card-body
    %h4.card-title Albums
    = link_to 'New Album', new_album_path, class: 'btn badge bg-colored'
    .table-responsive.mt-3
      %table.table.table-bordered
        %thead
          %tr
            %th Name
            %th Released
            %th Released_at
            %th Cover Art Url
            %th Kind
            %th Length
            %th Action
        %tbody
          - @albums.each do |x|
            %tr
              %td= x.name
              %td= x.released
              %td= x.released_at.strftime("%b %d, %Y") rescue nil
              %td= x.cover_art_url
              %td= x.kind
              %td= x.length
              %td
                = link_to ('<i class="far fa-eye"></i>').html_safe, x, class: 'badge bg-info'
                = link_to ('<i class="fas fa-pencil-alt"></i>').html_safe, edit_album_path(x) , class: 'badge bg-warning'
                = link_to ('<i class="far fa-trash-alt"></i>').html_safe, x, method: :delete, data: {confirm: "Are you sure?"}, class: 'badge bg-danger'

:javascript
  $(document).ready(function() {
    var dataTable = $('table').DataTable();
    document.addEventListener("turbolinks:before-cache", function() {
      if (dataTable !== null) {
       dataTable.destroy();
       dataTable = null;
      }
    });
  } );