.card
  .card-body
    %h4.card-title Album
    = form_with(model: @album, local: true) do |form|
      .row
        .form-group.col-12.pt-2.mb-0
          .form-row
            .col-md-6.pt-3
              .field
                = form.label :name, :class => "control-label"
                = form.text_field :name, class: 'form-control', disabled:  true
            .col-md-6.pt-3
              .field
                = form.label :released, :class => "control-label"
                = form.text_field :released, class: 'form-control', disabled:  true, value: @album.released?
                
            .col-md-6.pt-3
              .field
                = form.label :released_at, :class => "control-label"
                = form.date_field :released_at, class: 'form-control', disabled:  true
            
            .col-md-6.pt-3
              .field
                = form.label :kind, :class => "control-label"
                = form.text_field :kind, class: 'form-control', disabled:  true
            .col-md-6.pt-3
              .field
                = form.label :length, :class => "control-label"
                = form.text_field :length, class: 'form-control', disabled:  true
            .col-md-6.pt-3
              .field
                = form.label :cover_art_url, :class => "control-label"
                %img{:src => "#{@album.cover_art_url}", :title => "", :style => "width: 150px"}
